* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 130px;
  background-color: #3cbc8d;
  color: #fff;
  display: block;
  padding: 20px;
  border-bottom: 5px solid #757575;
}

header h1 {
  font-size: 2rem;
  font-weight: normal;
  padding: 1.5em;
  color: #fff;
  text-shadow: 1px 1px 0px #444;
  width: 1000px;
  margin: auto;
}

nav {
  background-color: #443a5c;
}

nav ul {
  display: table;
  width: 1000px;
  margin: auto;
}

nav ul li {
  display: table-cell;
  text-align: center;
  padding: 1em;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #ddd;
}

main {
  overflow: auto;
  min-height: 30vh;
  background-color: #f7f7f7;
  width: 1000px;
  margin: auto;
  box-shadow: -1000px 0 0 #f7f7f7, 1000px 0 0 #f7f7f7;
  padding-top: 20px;
}

.jokes {
  margin-top: 20px;
}

footer {
  padding: 1em;
  background-color: #ffc9a7;
  font-size: 0.8em;
}

textarea {
  display: block;
  margin-top: 10px;
  width: 50%;
  height: 250px;
  margin-bottom: 20px;
  border: 2px solid #808080;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 22px;
}

.submit {
  font-size: 20px;
  width: 25%;
  height: 40px;
  background-color: #0ab90a;
  color: #fff;
  border: 2px solid #808080;
  margin-bottom: 2em;
}

blockquote {
  display: table;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
  width: 100%;
}

blockquote p {
  display: table-cell;
  width: 70%;
  vertical-align: top;
}

blockquote form {
  display: table-cell;
  width: 20%;
}

.block-submit {
  width: 100%;
  height: 40px;
  background-color: #771212;
  border: 2px solid #3d0101;
  color: #fafafa;
  margin-left: 30px;
}

textarea {
  resize: none;
}

.errors {
  padding: 1em;
  border: 1px solid red;
  background-color: lightyellow;
  color: red;
  margin: 1em;
  overflow: auto;
}

.errors ul {
  margin-left: 1em;
}
